<!DOCTYPE html>
<html lang="en" ng-app="JobScheduler">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Job Scheduler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-controller="JobCtrl">

<div class="container">
  <div class="row">

    <div job-state ng-repeat="job in jobList">
      <form>
        <input type="text" ng-model="jobCopy.name"
               ng-show="checkIfEditing($last, job)" />
        <input type="text" value="{{job.name}}"
               ng-hide="checkIfEditing($last, job)" disabled />
      </form>

      <button ng-click="startEditing(job)"
              ng-hide="checkIfEditing($last, job)">Edit</button>
      <button ng-click="deleteJob(job)"
              ng-hide="checkIfEditing($last, job)">Remove</button>

      <input type="submit" ng-click="finishEditing(job, jobCopy)"
             ng-show="checkIfEditing($last, job)"
             value="Save">
      <button ng-click="cancelEditing($last, job)"
              ng-show="checkIfEditing($last, job)">Cancel</button>
    </div>

  </div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="app.js"></script>

</body>
</html>
