<!DOCTYPE html>
<html lang="en" ng-app="JobScheduler">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Job Scheduler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-controller="JobCtrl">

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div job-state ng-repeat="job in jobList" class="well">
        <form ng-submit="saveJob(job, jobCopy, $last)">

          <input type="text" ng-model="jobCopy.name"
                 ng-show="checkIfEditing($last, job)" />
          <input type="text" value="{{job.name}}"
                 ng-hide="checkIfEditing($last, job)" disabled />

          <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-6">
              <h6>Dyno Size</h6>
              <select class="select-block"
                      ng-model="jobCopy.dynoSize"
                      ng-show="checkIfEditing($last, job)">
                <option value="Free">Free</option>
              </select>
              <span ng-hide="checkIfEditing($last, job)">{{job.dynoSize}}</span>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
              <h6>Frequency</h6>
              <select class="select-block"
                      ng-model="jobCopy.frequency"
                      ng-options="opt for opt in frequencyOpts"
                      ng-show="checkIfEditing($last, job)">
              </select>
              <span ng-hide="checkIfEditing($last, job)">{{job.frequency}}</span>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
              <h6>Last Run</h6>
              <span>{{job.lastRun}}</span>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
              <h6>Next Due</h6>
              <span ng-show="checkIfEditing($last, job)">
                <span ng-if="isFrequencySelected('Daily', jobCopy.frequency)">
                  {{ now() | date:'MMM dd' }}
                  <select class="select-block"
                          ng-model="jobCopy.nextDue"
                          ng-options="opt for opt in nextDueOpts(jobCopy.frequency)">
                  </select>
                </span>
                <span ng-if="isFrequencySelected('Hourly', jobCopy.frequency)">
                  {{ now() | date:'MMM dd' }}
                  <select class="select-block"
                          ng-model="jobCopy.nextDue"
                          ng-options="opt.value as opt.text for opt in nextDueOpts(jobCopy.frequency) track by opt.value">
                  </select>
                </span>
                <span ng-if="isFrequencySelected('Every 10 minutes', jobCopy.frequency)"
                      ng-init="jobCopy.nextDue=inTenMinutes()">
                  {{ now() | date:'MMM dd' }} {{inTenMinutes()}}</span>
              </span>
              <span ng-hide="checkIfEditing($last, job)">
                {{ now() | date:'MMM dd' }} {{job.nextDue}}</span>
            </div>
          </div>

          <br/>
          <button type="button" ng-click="startEditing(job)"
                 ng-hide="checkIfEditing($last, job)">Edit</button>
          <button type="button" ng-click="startRemoving()"
                 ng-hide="checkIfEditing($last, job)">Remove</button>

          <input type="submit" value="Save"
                 ng-show="checkIfEditing($last, job)">
          <button type="button" ng-click="cancelEditing($last, job)"
                 ng-show="checkIfEditing($last, job)">Cancel</button>
        </form>

        <div class="confirm" ng-if="isRemoving">
            <h4>Remove Scheduled Job</h4>
            <p>Are you sure you want to remove this job?</p>
          <div>
            <button type="button" ng-click="cancelRemoving()">Cancel</button>
            <button type="button" ng-click="deleteJob(job)">Remove Job</button>
          </div>
        </div>

      </div>

      <div class="text-center" ng-if="!jobList.length">
        <h3>Schedule tasks</h3>
      </div>

      <button ng-click="startCreating()" ng-hide="isCreating">Add New Job</button>

    </div>
  </div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="app.js"></script>

</body>
</html>
